@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
}

body{
  font-family: "Afacad Flux", sans-serif;
  background-color: black;
  color: white;
}

.bg-img{
  background-image: url("../src/assets/bg.jpg");
}

.imgBorder {
  --c: white; 
  --b: 8px; 
  --o: 25px; 
  
  width: 500px; 
  --_p: calc(2*var(--o) + var(--b));
  padding: var(--_p) var(--_p) 0 0;
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--o) - var(--_p));
  transition: .4s;
  cursor: pointer;
}

.imgBorder + .imgBorder {
  padding: var(--_p) 0 0 var(--_p);
}
.imgBorder:hover {
  padding: calc(var(--_p)/2);
}
